html{
  background-color: #222;
}
body{
  background: none;
  color: #f5f5f5;
}
.navbar-brand, .navbar-nav, li, a{
  color:#f5f5f5;
  font-weight: bold;
}
.navbar-brand:hover, .navbar-nav li a:hover{
  color:#f5f5f5;
  font-weight: bold;
  background: none;
}
.navbar-nav li a:after{
  content: '|';
  margin-left: 30px;
}
.navbar-nav li:last-child a:after{
  content: '';
}
.navbar-toggle{
  background: #111;
}
.navbar-toggle .icon-bar{
  background: white;
}
.jumbotron{
  background: none;
  margin: 75px 0
}
.container .jumbotron, .container-fluid .jumbotron{
  padding-left: 0;
  padding-right: 0;
}
.jumbotron .welcome{
  font-size: 120px;
}
.jumbotron .lead{
  font-size: 32px;
}
@media (max-width:992px) {
  .jumbotron .welcome{
    font-size: 72px;
  }
}
@media (max-width:768px) {
  .jumbotron .welcome{
    font-size: 40px;
  }
  .jumbotron .lead{
    font-size: 20px;
  }
}





@media (max-width:768px) {
  .navbar-nav li a:after{
    content: '';
  }
  .navbar-nav li a{
    background: #111;
    border-radius: 4px;
    margin-bottom: 3px;
  }
}
